.cancelDiv{
    display: flex;
   justify-content: space-around;
   border: none;
}
.cancelBtn{
    background-color: #f1f1f6;
    border-color: red;
    border-radius: 8px;
    color: red;
}
.updateBtn{
    border-color: blue;
    border-radius: 10px;
    color: green;
}
.input{
    border-radius: 10px;
    border-color: rosybrown;
}