.resetBtn{
    border-radius: 10px;
}
.conta{
    border-bottom: 10px;
    padding: 20px;
    margin-top: 10px;
    /* margin: 180px; */
    margin: 500px;
    width: 380px;
    justify-content: space-around;
    text-align: center;
    border-style: ridge;
    border-width: 20px;
    background-color: rgb(142, 212, 245);
}
.ok{
    border-radius: 10px;
    width: 120px;
}